{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de jugadores</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jugadore in jugadores %}
            <tr>
                <td>{{ jugadore.id }}</td>
                <td>{{ jugadore.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jugadores_edit', { 'id': jugadore.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('jugadores_new') }}" class="btn btn-success">Crear un nuevo jugador</a>

{% endblock %}
