{% extends 'base.html.twig' %}

{% block body %}
    <h1>Añadir jugador</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Añadir" />
    {{ form_end(form) }}


    <a href="{{ path('jugadores_index') }}">Volver al listado</a>

{% endblock %}
