{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-pills" style="margin-top: 20px">
        <li role="presentation"><a href="{{ path('jugadores_new') }}">Crear nuevo jugador</a></li>
        <li role="presentation"><a href="{{ path('club_index') }}">Ver clubes</a></li>
        <li role="presentation"><a href="{{ path('club_new') }}">Crear nuevo club</a></li>
    </ul>
{% endblock %}
