{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-success" value="Editar" />
    {{ form_end(edit_form) }}


    <a href="{{ path('club_index') }}">Volver al listado</a>

{% endblock %}
