{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de clubes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Borrado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.nombre }}</td>
                <td>{{ club.telefono }}</td>
                <td>{% if club.borrado %}Si{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_edit', { 'id': club.id }) }}">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('club_borrado', { 'id': club.id }) }}">Eliminar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('club_new') }}" class="btn btn-success">Crear un nuevo club</a>

{% endblock %}
